<div class="px-4 py-5 my-5 text-center bg-light" id="about">
    <img class="d-block mx-auto mb-4" src="\assets\freelancer.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">About Me</h1>
    <h3 class="display-8">Full-Stack Developer </h3>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">I see myself as a Full-Stack Developer with experiences. I also like problem solving especially solving real-world problem. I had developed multiple projects that helped to solve different kind of real-world problem by front-end and back-end programming skills.
        I believe that programming is a powerful tools to make ideas come true. 
      </p>
      <p class="lead mb-1">
        <span class="fw-bold">Framework: </span>React and Angular. 
      </p>
      <p class="lead mb-1">
        <span class="fw-bold">Frontend: </span> HTML, CSS, JavaScript, TypeScript, Bootstrap, Express, NodeJS, REST, Sass, Postman
      <p class="lead mb-1">
        <span class="fw-bold">Backend: </span> Java, Python, C#, C++, OAuth2.0, Flask, Numpy, Pandas
      </p>
      <p class="lead mb-1">
        <span class="fw-bold">Database: </span> MySQL (SQL), MongdoDB (NoSQL)
      </p>
      <p class="lead mb-1">
        <span class="fw-bold">Server: </span> Firebase, AWS, Google Cloud
      </p>
      <p class="lead mb-1">
        <span class="fw-bold">Language: </span> English, Chinese, Malay, Cantonese
      </p>
    </div>
</div>

