<!-- <div class="form-area">
    <div class="container">
        <div class="row single-form g-0">
            <div class="cool-sm-12 col-lg-6">
                <div class="left">
                    <h2><span>Contact Us For</span></h2>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="ight">
                    <i class="fa fa-carat-left"></i>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputName" class="form-label">Your Name</label>
                          <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail" class="form-label">Email Address</label>
                          <input type="email" class="form-control" id="exampleInputEmail">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputMessage" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleInputMessage"></textarea>
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="px-4 py-5 my-5 text-center bg-light" id="contact">

    <h1 class="display-5 fw-bold">Contact Me</h1>
    <div class="col-lg-6 mx-auto">

        <div class="row mt-5">
            <div class="col-sm">
                <div class="dbox w-100 text-center">
                    <img class="d-block mx-auto mb-4" src="\assets\phone-call.png" alt="" width="60" height="60">
                    <p class="fw-bold">765-767-2747</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="dbox w-100 text-center">
                    <img class="d-block mx-auto mb-4" src="\assets\open-email.png" alt="" width="60" height="60">
                    <p class="fw-bold">jlsonxyue@gmail.com</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="dbox w-100 text-center">
                    <img class="d-block mx-auto mb-4" src="\assets\linkedin.png" alt="" width="60" height="60">
                    <p class="fw-bold">linkedin.com/in/jerlsonsik/</p>
                </div>
            </div>

        </div>
      
    </div>
</div>

            <!-- <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-map-search">
                    <path d="M11 18l-2 -1l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
                    <path d="M9 4v13"></path>
                    <path d="M15 7v5"></path>
                    <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M20.2 20.2l1.8 1.8"></path>
                </svg>
                <h3>Location</h3>
                <p>Belgrade, Serbia</p>
            </span><span>dfad</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-map-search">
                </svg>
                <h3>Location</h3>
                <p>Belgrade, Serbia</p>
            </span> -->

            