    <!-- <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="\assets\Casual Photo.jpg" alt="personal image" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8 my-auto">
                <div class="card-body">
                    <h3 class="card-title">About Me </h3>
                    <p class="font-italic">Malaysian | Software Developer | Trader </p>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div> -->
<div class = "container col-xxl-8 px-5 py-5 bg-white">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="\assets\Casual Photo.jpg" class="d-block mx-lg-auto img-fluid rounded-start" alt="Profile Picture" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>

<app-about></app-about>
<app-project></app-project>
<app-contact></app-contact>
<app-footer></app-footer>